@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');

#post-content {
  @media (min-width: 1000px) {
    padding: 0 250px;
  }
  @media (max-width: 1000px) {
    padding: 0 150px;
  }
  @media (max-width: 700px) {
    padding: 0 50px;
  }
  @media (max-width: 300px) {
    padding: 0 10px;
  }
}

footer {
  background-color: #c7e3ed;
  position: fixed;
  left:0;
  bottom:0;
  @media (min-width: 500px) {
    padding: 30px 75px;
  }
  @media (max-width: 500px) {
    padding: 10px 25px;
  }
}

.postlist {
  list-style-type: none;
  margin-top: 0px;
  @media (min-width: 600px) {
    padding-left: 60px;
  }
  @media (max-width: 600px) {
    padding-left: 30px;
  }
}


* {
  background-color: #d9f0f8;
  font-family: 'Readex Pro', sans-serif;
}

#title {
  padding: 15px 30px 0px 30px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  @media (min-width: 600px) {
    font-size: 60px;
  }
  @media (max-width: 600px) {
    font-size: 40px;
  }
}

#post-heading {
  padding-left: 30px;
  padding-bottom: 25px;
  margin-bottom: 0px;
  @media (min-width: 600px) {
    margin-top: 20px;
    font-size: 40px;
  }
  @media (max-width: 600px) {
    margin-top: 10px;
    font-size: 30px;
  }
}

.date {
  color: #222222;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.subtitle {
  margin-top: 0px;
}

a:link {
  text-decoration: none;
}

a {
  color: darkblue;
}

.post-title {
  margin-bottom: 5px;
  margin-top: 0px;
  @media (max-width: 500px) {
    padding-right: 50px;
  }
  @media (min-width: 600px) {
    font-size: 35px;
  }
  @media (max-width: 600px) {
    font-size: 28px;
  }
}

.post_entry {
  padding-bottom: 10px;
}

#home {
  font-size: 20px;
}

#entry-title {
  padding-top: 0px;
  margin-top: 10px;
}