---
layout: default
---

<div class="main">
  <h1 id="title">Welcome to our CHEM 1410 miniblog/final project!</h1>
  <h2 id="subheading">We're Group 20: the Polar Bears, and this is our final project for CHEM 1410 Expo. Read our blog posts to find out more about what you might learn in CHEM 1410, something our group found challenging, and advice!</h2>

  <h3 id="post-heading"> Our posts:</h3>
  <ul class="postlist">
      {% for post in site.posts reversed %}
      <div class="post_entry">
        <h4 class="post-title"><a href="{{ post.url | relative_url }}">{{post.title}}</a></h4>
        <p class="date">{{post.date_written}} by {{ post.author }}</p>
      </div>
      {% endfor %}
  </ul>
</div>